/*LOG IN */

.list-group-sm .list-group-item {
	padding: 0px;
	margin: 30px auto;
	width: 90%;
}

img.log {
	position: absolute;
	margin: 45px 23px;
}

.wrapper.text-center {
	font-size: 19px;
}

.m-b-lg {
	margin-top: 50px;
}

a.navbar-brand.block.m-t.log {
	background-image: url(../img/logo.png) no-repeat;
}

.form-control {
	height: 60px;
	margin: 0px auto
}

body > div > div > div.text-center > p {
	margin: 0 0 50px;
}

.container.w-xl.w-auto-xs,
.container.w-xxl.w-auto-xs {
	/* Rectangle 3: */
	background: #FFFFFF;
	box-shadow: 0 1px 7px 2px rgba(62, 62, 62, 0.29);
}

button.btn.btn-lg.btn-primary.btn-block.login {
	width: 90%;
	margin: 10px auto;
	background: #0070EB;
	border-radius: 2px;
	height: 60px
}

span.link {
	color: #0070EB;
	margin-left: 10px;
	text-decoration: underline;
}

.wrapper {
	padding-bottom: 0px;
}

a.navbar-brand.block.lot {
	margin: 50px auto -10px;
	font-size: 40px;
}

.text-center.login {
    margin: 50px auto 40px;
    font-size: 18px;
}

.copy {
	padding: 10px 20px 20px 40px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    width: 90%;
    margin: 20px auto;
}


/* /end LOG IN */
